* {
    outline: 0;
}

@font-face {
    font-family: BebasNeueBold; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Bold.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: BebasNeueReg; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Regular.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/Proxima Nova Light.otf");
}

@font-face {
    font-family: ProximaNovaReg;
    src: url("../fonts/Proxima Nova Regular.otf");
}

@font-face {
    font-family: ProximaNovaCnReg; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Regular.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaCnLight; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Light.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaCnBold; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Bold.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaExCnBlack;
    src: url("../fonts/Proxima Nova Extra Condensed Black.otf");
}

@font-face {
    font-family: ProximaNovaExCnBold;
    src: url("../fonts/Proxima Nova Extra Condensed Bold.otf");
}

@font-face {
    font-family: ProximaNovaExCnExBold; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Extra Condensed Extrabold.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: BebasNeue; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Regular.otf"); /* Путь к файлу со шрифтом */
}

body {
    color: #FFF;
    max-width: 2000px;
}

@media screen and (max-width: 767px) {
    body {
        max-width: 640px;
    }
}

.text-indent {
    text-indent: 1.5em;
    padding: 0;
    margin: 0;
}

/* MENU START*/
.menu-item-main{

}
.menu-item-main > a{
    font-family: ProximaNovaCnReg;
    font-size: 45pt;
    color: #FFFFFF;
    padding: 50px 30px;
    text-transform: uppercase;
}
.menu-item-main > a > span{
    float: right;
    width: 45px;
    height: 45px;
    transform: translateY(-20px);
    content: url(../images/menu-collapse.png);
}
.menu-item {

}

.menu-item > a {
    font-family: ProximaNovaCnReg;
    font-size: 13pt;
    color: #FFFFFF;
    padding: 10px 25px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .menu-item > a {
        border-bottom: 1px solid #515f71;
        font-family: ProximaNovalight;
        font-size: 35pt;
        color: #FFFFFF;
        padding: 30px 28px;
        text-transform: capitalize;
    }
}

.menudivider {
    height: 100%;
    width: 1px;
    border-left: 1px solid #FFFFFF;
}

.menu-subtitle {
    padding: 20px 13px 10px 25px;
    background-color: #0e2747;
}

@media screen and (max-width: 768px) {
    .menu-subtitle {
        background-color: transparent;
    }
}

.menu-subtitle > a {
    font-family: ProximaNovaCnBold;
    color: #FFFFFF;
    font-size: 14pt;
    border-bottom: 1px solid #515f71;
}

.menu-subitem {
    background-color: #0e2747;
    padding: 5px 13px 10px 25px;
}

@media screen and (max-width: 768px) {
    .menu-subitem {
        background-color: transparent;
    }

    .menu-subitem:hover {
        background-color: transparent;
    }
}

.menu-subitem:hover {
    background-color: #FFFFFF;
    padding: 5px 13px 10px 25px;
}

.menu-subitem > a {
    font-family: ProximaNovaCnReg;
    font-size: 12pt;
    color: #FFFFFF;
    border-bottom: 1px dotted #ffffff;
}
.menu-subitem:hover > a{
    color: #515f71;
}
@media screen and (max-width: 768px){
    .menu-subitem > a{
        font-family: ProximaNovaLight;
        font-size: 30pt;
        color: #FFFFFF;
        border-bottom: 1px dotted #ffffff;
        /* padding-top: 28px; */
        text-indent: 1em;
        height: 50px;
    }


}
.menu-subitem > a:hover {
    color: #0e2747;

}

.menu-button-xs {
    background-image: url(../images/menu-xs.png);
    background-image: url(../images/menu-xs.png);
    background-size: 80% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

/* MENU END*/
/* HEADER START*/

.header {
    background: url(../images/background-header.png);
    height: 800px;
    color: #FFF;
    background-size: cover;
    background-position: center;
}

.view360 {
    margin-top: 35px;
}

.view360 > p {
    margin-top: 5px;
}

.enter-button {
    margin-top: 35px;
}

.enter-button > p {
    margin-top: 5px;
}

.phone-header {
    font-family: BebasNeueReg;
    font-size: 30pt;
    display: block;
    margin-top: 40px;
    line-height: 20px;
}

.callback-header {
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
    background: transparent;
    border: 0;
    text-decoration: underline;
    margin-left: 15px;
}

.smalltext-header {
    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    color: #dadce0;
    margin-top: 5px;
}

.menu {
    padding: 0 !important;
    margin: 50px 0;
}

.lead-header {
    color: #ffffff;

}

.lead-title {
    font-family: ProximaNovaExCnExBold;
    font-size: 50pt;
    color: #ffffff;

}

.lead-text {
    font-family: ProximaNovaCnReg;
    font-size: 20pt;
    width: 64%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.fieldset {
    margin: 1em 0;
}

.fs-header {
    border: 8px solid #ffffff;
}

.fieldset_special > .legend {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-width: 0px;
}

.legend__inner {
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
}

.legend__content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
}

.legend__left,
.legend__right {
    display: inline-block;

    vertical-align: middle;

    width: 999px;
    margin: 0 0 0 -999px;
}

.l-header {
    border-top: 8px solid #ffffff;
}

.legend__right {
    margin: 0 -999px 0 0;
}

.menu-view360 {
    float: right;
    width: 20%;
    padding-top: 15px;
}

.menu-enter-button {
    float: right;
    width: 20%;
    padding-top: 15px;
}

.menu-logo-text {
    float: left;
    height: 75px;
    padding-top: 25px;
    width: 30%;
}

.navbar-toggle2 {
    border: 1px solid #FFF;
    height: 75px;
    padding: 0;
    margin: 0;
    width: 90px;
}

.phone-header-xs {
    font-family: BebasNeueReg;
    font-size: 60pt;
    display: block;
}

.callback-header-xs {
    font-family: ProximaNovaCnReg;
    font-size: 23pt;
    background: transparent;
    border: 1px solid #ffffff;
    text-decoration: none;
    margin-left: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    height: 60px;
    width: 60%;
    margin-bottom: 100px;
}

.lead-title-xs {
    font-family: ProximaNovaCnBold;
    font-size: 40pt;
    color: #ffffff;
    line-height: 45px;
}

@media screen and (max-width: 992px) {
    .phone-header {
        font-size: 20pt;
    }

    .callback-header {
        font-size: 14pt;
    }

    .smalltext-header {
        font-size: 9pt;
    }
}

@media screen and (max-width: 768px) {

    .menu {
        margin: 0px;
        padding: 0px;
    !important;
    }

    .navbar {

    }

    .lead-text {
        font-size: 19pt;
        width: 81%;
    }
}

/* HEADER END*/
/* ABOUT VILLA START*/
.about_villa {
    background: url(../images/background-aboutvilla.gif);
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
}

.about_villa-title {
    font-family: ProximaNovaExCnExBold;
    font-size: 50pt;
    color: #3f4753;
    margin-top: 50px;
    margin-bottom: 50px;

}

.about_villa-text {
    color: #3f4753;
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
}

.header-ab_villa {
    border: 1px solid #3f4753;
}

.l-ab_villa {
    border-top: 1px solid #3f4753;

}

/* ABOUT VILLA END*/
/* VILLA PROJ START*/
.villa_proj {
    background: url(../images/background-villa-proj.gif);
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
}

.see-all-btn {
    font-family: ProximaNovaReg;
    color: #3f4753;
    font-size: 18pt;
    background: transparent;
    border: 0;
    text-decoration: underline;
    margin-left: 5px;
}

.villa_proj-number {
    font-family: ProximaNovaExCnBlack;
    font-size: 75pt;
    color: #FFFFFF;
    line-height: 100px;
}

.villa_proj-number > span {
    font-family: ProximaNovaExCnBlack;
    font-size: 30pt;
    color: #FFFFFF;
    line-height: 80px;
}

.villa_proj-text {
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
    color: #FFFFFF;
    opacity: 1;
    line-height: 0px;
    margin-bottom: 25px;
}

.villa_proj-price {
    font-family: ProximaNovaExCnExBold;
    font-size: 30pt;
    color: #FFFFFF;
    opacity: 1;
}

/* VILLA PROJ END*/
/* INFRASTRUCTURE START*/
.infrastructure {
    background-image: url("../images/infrastructure/infrastructure.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 652px;
    color: #FFF;
    position: relative;
    margin-bottom: 50px;
}

.infrastructure > a, .infrastructure > a:hover, .infrastructure > a:link {
    text-decoration: none;
    color: #ffffff;

}

.infrastructure-smalltext {
    font-family: ProximaNovaCnReg;
    font-size: 10pt;
    line-height: 0.9;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70%;
}

.school {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: -300px -242px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: -40%;
    top: 11%;
    display: block;
}

.school:hover {
    background-position: -200px -242px;
}

.zoo {

    background-image: url(../images/infrastructure/sprite.png);
    background-position: 0px -363px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: -20%;
    top: 19%;
}

.zoo:hover {
    background-position: -400px -242px;
}

.beach {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: 0px -242px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: 0%;
    top: 12%;
}

.beach:hover {
    background-position: -100px 0px;
}

.supermarket {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: -400px -121px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: 15%;
    top: -7%;
}

.supermarket:hover {
    background-position: -400px 0px;
}

.reserve {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: -100px -242px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: -45%;
    top: 71%;
}

.reserve:hover {
    background-position: 0px 0px;
}

.ranch {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: -300px -121px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: -18%;
    top: 62%;
}

.ranch:hover {
    background-position: -300px 0px;
}

.church {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: 0px -121px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: 2%;
    top: 67%;
}

.church:hover {
    background-position: -200px 0px;
}

.pier {
    background-image: url(../images/infrastructure/sprite.png);
    background-position: -200px -121px;
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 50%;
    left: 31%;
    top: 76%;
}

.pier:hover {
    background-position: -100px -121px;
}

@media screen and (max-width: 992px) {
    .school {
        left: -43%;
        top: 11%;
    }

    .zoo {
        left: -22%;
    }

    .supermarket {
        left: 13%;
    }

    .reserve {
        left: -47%;
    }

    .ranch {
        left: -21%;
    }

    .church {
        left: 0%;
    }

    .pier {
        left: 28%;
    }
}

.inner-infrastructure {
    color: #000;
    position: absolute;
    top: 315px;
    left: 60px;
    font-family: ProximaNovaCnReg;
    font-size: 10pt;
    width: 100%;

}

.l-inner-infrastructure {
    border-top: 4px solid #62c1f7;
    width: 100%;
}

.l-inner-infrastructure:before {
    content: url("../images/infrastructure/inner/ellipse.png");
    position: absolute;
    top: -6px;
}

.l-block {
    float: left;
    position: relative;
    width: 9%
}

.house-block {
    background: url(../images/infrastructure/inner/house.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 11.6%;
    height: 140px;
    float: left;
    top: -67px;
    position: relative;
}

.r-inner-infrastructure {
    border-top: 4px solid #62c1f7;
    width: 100%;
}

.r-inner-infrastructure:after {
    content: url("../images/infrastructure/inner/ellipse.png");
    position: absolute;
    top: -6px;
    right: 0px;
}

.center-house {
    display: block;
    position: absolute;
    top: -60px;
}

.reception {
    text-decoration: none;
    display: block;
    color: inherit;
    align-content: center;
    position: absolute;
    min-width: 70px;
    width: 10%;
    top: -70px;
    left: -25px;
}

.reception-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px 0px;
    width: 33px;
    height: 47px;
}

.reception-pic:hover {
    background-position: 0px -47px;
}

.security {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: 10px;
    left: -10px;
}

.security-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -94px;
    width: 35px;
    height: 40px;
}

.security-pic:hover {
    background-position: 0px -136px;
}

.disco {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    min-width: 55px;
    width: 10%;
    top: -70px;
    left: -15px;
}

.disco-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -178px;
    width: 42px;
    height: 47px;
}

.disco-pic:hover {
    background-position: 0px -226px;
}

.spa {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: 10px;
    left: -10px;
}

.spa-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -274px;
    width: 50px;
    height: 42px;
}

.spa-pic:hover {
    background-position: 0px -318px;
}

.sport {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: -80px;
    right: 20px;
}

.sport-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -362px;
    width: 50px;
    height: 47px;
}

.sport-pic:hover {
    background-position: 0px -409px;
}

.auditorium {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 20px;
}

.auditorium-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -456px;
    width: 50px;
    height: 45px;
}

.auditorium-pic:hover {
    background-position: 0px -503px;
}

.cinemahall {
    text-decoration: none;
    display: block;
    color: inherit;
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: -80px;
    right: 15px;
}

.cinemahall-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -550px;
    width: 50px;
    height: 45px;
}

.cinemahall-pic:hover {
    background-position: 0px -597px;
}

.caffe {
    text-decoration: none;
    display: block;
    color: inherit;
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 20px;
}

.caffe-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -644px;
    width: 50px;
    height: 42px;
}

.caffe-pic:hover {
    background-position: 0px -686px;
}

.helipad {
    text-decoration: none;
    display: block;
    color: inherit;
    position: absolute;
    width: 10%;
    top: -95px;
    right: 35px;
}

.helipad-pic {
    display: block;
    background-image: url(../images/infrastructure/inner/sprite.png);
    background-position: 0px -728px;
    width: 56px;
    height: 39px;
}

.helipad-pic:hover {
    background-position: 0px -769px;
}

.infrastructure-xs {
    color: #000;
}

.inf-xs-title {
    position: relative;
}

.inf-xs-title > a {
    font-family: ProximaNovaCnBold;
    font-size: 17pt;
    color: #0085b7;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    bottom: 20%;
    left: 30%;
    width: 40%;
    text-align: center;
}

.inf-xs-title > img {
    padding-right: 10px;
}

.inner-inf-left-main {
    padding-top: 96px;
    float: left;
    width: 50%;
    border-right: 4px solid #0085b7;
}

.inner-inf-right-main {
    float: right;
    width: 50%;
    /*border-left: 2px solid #0085b7;*/
}

.inner-inf-left-xs {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 30px;

}

.inner-inf-left-xs > a {
    margin-left: 10px;
}

.inner-inf-left-xs > a > span {
    font-family: ProximaNovaCnBold;
    font-size: 17pt;
    color: #0085b7;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    bottom: 35%;
    left: 13%;
    width: 40%;
    text-align: center;
}

.inner-inf-right-xs {
    float: right;
    width: 100%;
    position: relative;
    padding-bottom: 30px;

}

.inner-inf-right-xs > a {
    margin-right: 10px;
    float: right;
}

.inner-inf-right-xs > a > span {
    font-family: ProximaNovaCnBold;
    font-size: 17pt;
    color: #0085b7;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    bottom: 34%;
    right: 11%;
    width: 42%;
    text-align: center;
}

.l-inner-infrastructure-xs {
    border-top: 4px solid #0085b7;
    width: 41%;
    float: right;
    position: absolute;
    top: 43%;
    right: -2%;
}

.l-inner-infrastructure-xs:before {
    content: url("../images/infrastructure-xs/outer/eclipse.png");
    position: absolute;
    top: -9px;
    right: -4px;
}

.r-inner-infrastructure-xs {
    border-top: 4px solid #0085b7;
    width: 41%;
    float: left;
    position: absolute;
    top: 43%;
    left: -2%;
}

.r-inner-infrastructure-xs:before {
    content: url("../images/infrastructure-xs/outer/eclipse.png");
    position: absolute;
    top: -9px;
    left: -4px;
}

.security-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/security.png);
}

.security-xs:hover,
.security-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/security.png);
}

.spa-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/auditorium.png);
}

.spa-xs:hover,
.spa-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/auditorium.png);
}

.auditorium-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/auditorium.png);
}

.auditorium-xs:hover,
.auditorium-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/auditorium.png);
}

.caffe-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/caffe.png);
}

.caffe-xs:hover,
.caffe-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/caffe.png);
}

.reception-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/reception.png);
}

.reception-xs:hover,
.reception-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/reception.png);
}

.disco-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/disco.png);
}

.disco-xs:hover,
.disco-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/disco.png);
}

.sport-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/sport.png);
}

.sport-xs:hover,
.sport-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/sport.png);
}

.cinemahall-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/cinemahall.png);
}

.cinemahall-xs:hover,
.cinemahall-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/cinemahall.png);
}

.helipad-xs {
    display: block;
    height: 175px;
    width: 175px;
    background-image: url(../images/infrastructure-xs/inner/helipad.png);
}

.helipad-xs:hover,
.helipad-xs:focus {
    background-image: url(../images/infrastructure-xs/inner/helipad.png);
}

.outer-inf-left-main {
    padding-top: 100px;
    float: left;
    width: 50%;

}

.outer-inf-right-main {
    float: right;
    width: 50%;
    border-left: 4px solid #0085b7;
}

.outer-inf-left-xs {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 80px;

}

.outer-inf-left-xs > a {
    margin-left: 10px;
}

.outer-inf-left-xs > a > span {
    font-family: ProximaNovaCnBold;
    font-size: 17pt;
    color: #0085b7;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 8%;
    width: 40%;
    text-align: center;
}

.outer-inf-right-xs {
    float: right;
    width: 100%;
    position: relative;
    padding-bottom: 80px;

}

.outer-inf-right-xs > a {
    margin-right: 10px;
    float: right;
}

.outer-inf-right-xs > a > span {
    font-family: ProximaNovaCnBold;
    font-size: 17pt;
    color: #0085b7;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    top: 75%;
    right: 8%;
    width: 40%;
    text-align: center;
}

.l-outer-infrastructure-xs {
    border-top: 4px solid #0085b7;
    width: 58%;
    float: right;
    position: absolute;
    bottom: 32%;
    right: -2%;
}

.l-outer-infrastructure-xs:before {
    content: url("../images/infrastructure-xs/outer/eclipse.png");
    position: absolute;
    top: -9px;
    right: -4px;
}

.r-outer-infrastructure-xs {
    border-top: 4px solid #0085b7;
    width: 58%;
    float: left;
    position: absolute;
    bottom: 32%;
    left: -2%;
}

.r-outer-infrastructure-xs:before {
    content: url("../images/infrastructure-xs/outer/eclipse.png");
    position: absolute;
    top: -9px;
    left: -4px;
}

.zoo-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -0px -0px;
}

.zoo-xs:hover,
.zoo-xs:focus {
    background-position: -0px -218px;
}

.supermarket-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -0px -437px;
}

.supermarket-xs:hover,
.supermarket-xs:focus {
    background-position: -0px -655px;
}

.ranch-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -0px -872px;
}

.ranch-xs:hover,
.ranch-xs:focus {
    background-position: -0px -1086px;
}

.pier-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -0px -1304px;
}

.pier-xs:hover,
.pier-xs:focus {
    background-position: -0px -1522px;
}

.school-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -159px -0px;
}

.school-xs:hover,
.school-xs:focus {
    background-position: -157px -218px;
}

.beach-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -156px -436px;
}

.beach-xs:hover,
.beach-xs:focus {
    background-position: -154px -656.0000152587891px;
}

.reserve-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -160px -880px;
}

.reserve-xs:hover,
.reserve-xs:focus {
    background-position: -158px -1102px;
}

.church-xs {
    display: block;
    height: 214px;
    width: 151px;
    background-image: url(../images/infrastructure-xs/outer/sprite.png);
    background-position: -159px -1320.0000305175781px;
}

.church-xs:hover,
.church-xs:focus {
    background-position: -160px -1540px;
}

/* INFRASTRUCTURE END*/
/* ABOUT COMPANY START*/
.about-company {
    background: url(../images/about-company.png);
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
}

.about-company-text {
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
    color: #ffffff;
}

.about-company-desc {
    margin-bottom: 700px;
}

.about-company-desctitle {
    font-family: ProximaNovaExCnExBold;
    font-size: 50pt;
    color: #3f4753;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(#f5f8f9, #d9e4ea);
    border-radius: 20px 20px;
    padding: 0 10%;
}

.about-company-desctext {
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
    background: linear-gradient(#8194a8, #264a6d);
    border-radius: 20px 20px;
    margin-top: -95px;
    padding: 90px 20px 20px 20px;
}

.about-company-bot-title {
    font-family: ProximaNovaExCnBold;
    font-size: 32pt;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
}

.about-company-bot-text {
    font-family: ProximaNovaLight;
    font-size: 13pt;
    color: #ffffff;
}

.about-company-xs {
    background: url(../images/about-company-xs.png);
    height: 1100px;
    color: #FFF;
    background-size: cover;
    background-position: center;
}

.about-company-xs-title {
    font-family: ProximaNovaExCnBold;
    font-size: 52pt;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    margin-bottom: 550px;
}

.about-company-xs-text {
    font-family: ProximaNovaLight;
    font-size: 15pt;
    color: #ffffff;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.about-company-xs-text > p {
    margin-bottom: 35px;
}

/* ABOUT COMPANY END*/
/* GALLERY START*/
#img-container{
    position: relative;
    height: 500px;
    overflow: hidden;
}
#img-hider{
    position: absolute;
    height: 250px;
    width: 100%;
    background: linear-gradient(to top, rgba(255,255,255, 1), rgba(255,255,255, 0.9), transparent);
    bottom: 0%;
}
#img-hider > div{
    position: absolute;
    margin-left: 50%;
    left: -9%;
    bottom: 0%;
}
@media screen and (max-width: 768px){
    #img-hider > div{
        left: -31%;
        text-align: left;
        border: 1px solid #3f4753;
        border-radius: 11px;
        height: 60px;
        width: 55%;
        padding: 6px 10px 6px 20px;
    }
    #img-hider > div > img{
        float:left;
        margin-top: 10px;
    }
}
#show-all-img-btn{
    background-image: url(../images/show-all-img.png);
    width: 71px;
    height: 36px;
    border:none;
    background-color: transparent;

}
.gallery {
    background-image: url(../images/background-gallery.png);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

#wrapper {
    /*max-width: 60em; /* 960 px */
    margin: 0 auto;
}

#list {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-column-count: 6;
    -webkit-column-gap: 10px;
    /*-webkit-column-fill: auto;*/
    -moz-column-count: 6;
    -moz-column-gap: 10px;
    /*-moz-column-fill: auto;*/
    column-count: 6;
    column-gap: 10px;
   /* column-fill: auto;*/
}

.item {
    background-color: #EEE;
    /*background-color: rgba( 255, 255, 255, .5 );*/
    margin-bottom: 10px;
    /*-webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;*/
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.item > a > img {
    width: 100%;
    height: 100%;
}

@media only screen and ( max-width: 992px ) /* 640px */ {
    #list {
        -webkit-column-count: 3;
        -webkit-column-gap: 15px;
        -moz-column-count: 3;
        -moz-column-gap: 15px;
        column-count: 3;
        column-gap: 15px;
    }

    .item {
        margin-bottom: 15px;
    }
}

@media only screen and ( max-width: 768px ) {
    #list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.see-all-gal-btn {
    font-family: ProximaNovaReg;
    color: #3f4753;
    font-size: 18pt;
    background: transparent;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
}
@media only screen and ( max-width: 768px ){
    .see-all-gal-btn{
        text-transform: uppercase;
        font-size: 15pt;
        float: left;
        display: block;
        transform: translateY(-10px);
    }
}
/* GALLERY END*/
/* NEWS START*/
.news {
    background: url(../images/background.png);
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news-list {
    padding-left: 25px;
    padding-right: 25px;
}

.news-block {

}

.news-block > img {
    width: 100%;
}

.news-date {
    font-family: ProximaNovaCnReg;
    font-size: 18pt;
    padding: 0;
    margin: 0;

}

.news-title {
    font-family: ProximaNovaCnBold;
    font-size: 14pt;

}

.news-text {
    font-family: ProximaNovaCnReg;
    font-size: 9pt;
    padding: 0;
    margin: 0;

}

.form-order {
    background: url(../images/form.png);
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
    margin: 400px 0 180px 0;
}

.form-inner-container {
    margin: 180px 0 180px 0;
}

.form-text {
    font-family: ProximaNovaCnLight;
    font-size: 12pt;
}

.form-title {
    font-family: BebasNeueBold;
    font-size: 36pt;

}

.input-container {
    border: 1px solid #FFF;
    height: 68px;
}

.form-container:after {
    display: block;
    content: '';
    clear: both;
}

.form-input {
    width: 80%;
    height: 60px;
    border-width: 0px;
    background: transparent;
    font-family: ProximaNovaCnLight;
    font-size: 24pt;
    padding: 15px;
    margin: 0;
    float: left;
}

.form-input::-webkit-input-placeholder {
    color: #ffffff;
    font-family: ProximaNovaCnLight;
    font-size: 24pt;

}

.form-input:-moz-input-placeholder {
    color: #ffffff;
    font-family: ProximaNovaCnLight;
    font-size: 24pt;

}

.form-input:-ms-input-placeholder {
    color: #ffffff;
    font-family: ProximaNovaCnLight;
    font-size: 24pt;

}

.form-button {
    background: url(../images/form-button.png);
    border-width: 0px;
    margin: 3px;
    padding: 0px;
    width: 60px;
    height: 60px;
    float: right;
}

@media screen and (max-width: 1200px) {
    .form-title {
        font-size: 30pt;
    }
}

@media screen and (max-width: 992px) {

    .form-order {
        padding-top: 1px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 768px) {

    .news {
        background: url(../images/background-xs.png);
        height: 100%;
        color: #000;
        background-color: #FFFFFF;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .news-date {
        font-family: ProximaNovaCnReg;
        font-size: 18pt;
        color: #a4a9b0;
        padding: 0;
        margin: 0;

    }

    .news-title {
        font-family: ProximaNovaCnBold;
        font-size: 22pt;
        color: #3f4753;

    }

    .news-text {
        font-family: ProximaNovaCnReg;
        font-size: 17pt;
        color: #3f4753;
        padding: 0;
        margin-bottom: 30px;
    }

    .form-order {
        background: url(../images/form-xs.png);
        height: 393px;
        width: 600px;
        color: #FFF;
        background-position: bottom;
        margin: 400px 25px 0px 25px;
        padding-top: 165px;
    }

    .form-inner-container {
        margin: 0px 0 0 0;
    }

    .form-title {
        font-family: BebasNeueBold;
        font-size: 36pt;

    }
}

/* NEWS END*/
/* FOOTER START*/
.footer {
    background: url(../images/footer.png);
    min-height: 150px;
    color: #FFF;
    background-size: cover;
    background-position: center;

}

.footer-container {
    padding-top: 25px;
    position: relative;
}

.footer-logo {
    padding-top: 20px;
}

.copyright {
    font-size: 9pt;

}

.footer-phone {
    font-family: BebasNeueReg;
    font-size: 27pt;
}

.footer-smalltext {
    font-family: ProximaNovaCnReg;
    font-size: 11pt;
}

.footer-social {
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 10pt;
    opacity: 0.5;

}

.footer-social > a:link, .footer-social > a:visited, .footer-social > a:hover, .footer-social > a:active {
    text-decoration: underline;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-big-logo > img {
        position: absolute;
        top: -100px;
        left: 270px;
    }
}

/* FOOTER END*/
